body{
    background: #0d0523;
    margin: 0;
}
.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    box-sizing: border-box;
    display: inline-block;
}
#navbar li{
    display: inline;
}
#navbar{
    text-align: center;
    position: fixed;
    top: 0;
    left: 35%;
}
#head {
    color: white;
    width: 300px;
    padding: 5px;

    margin:5px 0 0 5px ;
}
#navbar button{
    text-decoration: none;
    color: #b8ec79;
    font-size: 1.0em;
    padding: 5px 10px 5px 10px;
    margin: 0 4px 0 4px;
}
#foot{
    color: dimgrey;
    height: 30px;
    padding-top: 10px;
    background: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}
section{
    padding: 15px;
}
textarea{
    resize: none;
    box-sizing: border-box;
    display: inline;
}
iframe{
    box-sizing: border-box;
}
@media (max-width: 600px) {

    #head{
        text-align: center;
        width: 100%;
    }

    #navbar{
        position: static;

    }
}
